## EDA Of The Tabular Sheet

In this EDA we take a small dataframe of tabular sheet/ result sheet and analysis all the given data

To start the EDA on the tabular sheet we make environment using miniconda and install all the libraries that we need in the EDA 
such as: 
1. Python 3.10
2. pandas 
3. seaborn
4. numpy or etc

In [160]:
# import all the libraries
import pandas as pd 
import seaborn as sns 
import numpy as np 
import ydata_profiling as yd
import matplotlib.pyplot as py

In [161]:
# set the option to be maximun for rows and columns and also hide all warnings 
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows', None)

# hide all the warnings
import warnings 
warnings.filterwarnings("ignore")

In [162]:
# import the dataframe for the EDA
df=pd.read_csv("../DATASETS/tabular_sheet.csv")

In [163]:
# to check the dataframe complete over view  
df

,Student Id,File #,Student Name,Computer Science,English,Geography,History,Islamiyat - Ethics,Mathematics,Science,Urdu,Obtained Marks,Max Marks,Percentage
0,127863,907656,Abeeha Fatima Amir,20.5,32.5,13.5,15.5,13.5,21.5,17.5,34.0,168.5,235,71.70
1,344027,917854,Abreer Ayesha,19.0,31.0,13.5,10.0,10.0,20.3,21.0,33.5,158.3,235,67.36
2,415787,918321,Aleesha Zia,22.5,37.5,18.5,20.0,17.0,23.1,29.0,37.0,204.6,235,87.06
3,620098,908397,Alleha Fatima,22.0,24.5,14.5,15.5,7.5,17.8,22.0,35.0,158.8,235,67.57
4,641021,928555,Aqsa Ilyas,22.0,27.0,19.0,18.0,22.0,22.8,29.5,37.0,197.3,235,83.96
5,657334,923617,Asawer Nayab,22.0,34.5,16.5,19.0,19.5,27.6,23.0,36.5,198.6,235,84.51
6,825932,928366,Asma Khalid,9.0,8.5,3.5,5.5,3.5,0.0,8.0,20.0,58.0,235,24.68
7,204766,906025,Aswa Irfan,21.0,32.0,16.5,16.5,9.5,20.6,24.0,36.0,176.1,235,74.94
8,756188,925541,Bushra Qadir,24.0,37.0,20.0,20.0,22.0,24.1,32.0,36.5,215.6,235,91.74
9,204935,911802,Dua Nouman Majeed,24.5,38.5,19.0,20.0,20.5,27.6,33.5,37.5,221.1,235,94.09
10,819011,928363,Inaya Khan,19.5,33.5,12.5,17.0,6.0,21.8,26.5,34.0,170.8,235,72.68
11,628574,923473,Khushnood Binte Abbas,19.5,34.0,9.5,17.5,2.5,17.5,16.5,33.0,150.0,235,63.83
12,133961,906287,Laraib Zahid,21.0,27.0,14.0,12.0,15.5,23.0,28.0,37.0,177.5,235,75.53
13,344037,924004,Mahnoor Fatima,20.0,28.5,12.0,19.0,18.0,20.0,30.5,36.0,184.0,235,78.30
14,276582,913460,Mansha Batool,22.5,36.0,17.5,17.0,16.0,15.1,28.0,36.5,188.6,235,80.26
15,819005,928290,Muntaha Mehmood,20.5,33.5,18.0,18.5,16.0,18.1,25.5,37.0,187.1,235,79.62
16,767606,926077,Musfira Maskatiya,21.0,29.5,17.0,17.0,14.0,22.0,20.5,35.0,176.0,235,74.89
17,815481,928450,Noor Eman,19.0,26.0,17.5,15.0,10.5,13.8,15.0,37.0,153.8,235,65.45
18,346731,909921,S Ummul Baneen Raza Zaidi,22.5,32.0,15.0,17.5,14.0,22.3,20.5,32.0,175.8,235,74.81
19,842710,928483,SakinaNadeem,20.5,16.5,17.5,18.0,11.5,20.5,24.5,35.5,164.5,235,70.00
20,622856,920290,Sheza Shoaib,18.0,15.0,10.0,18.0,9.0,7.5,13.0,36.5,127.0,235,54.04
21,204767,906206,Syeda Sibter Zehra,20.5,27.0,14.0,18.0,8.5,19.3,22.0,35.0,164.3,235,69.91
22,819003,928284,Tooba Imran,19.0,25.5,11.5,14.5,8.0,16.9,23.0,37.5,155.9,235,66.34
23,276675,915271,Um E Farwa,24.0,36.0,19.5,20.0,15.5,25.6,27.5,37.5,205.6,235,87.49
24,204708,911493,Zinnia Khan,22.5,35.5,18.5,19.0,19.0,23.6,25.0,37.5,200.6,235,85.36

In [164]:
# look top first three rows
df.head(3)

,Student Id,File #,Student Name,Computer Science,English,Geography,History,Islamiyat - Ethics,Mathematics,Science,Urdu,Obtained Marks,Max Marks,Percentage
0,127863,907656,Abeeha Fatima Amir,20.5,32.5,13.5,15.5,13.5,21.5,17.5,34.0,168.5,235,71.70
1,344027,917854,Abreer Ayesha,19.0,31.0,13.5,10.0,10.0,20.3,21.0,33.5,158.3,235,67.36
2,415787,918321,Aleesha Zia,22.5,37.5,18.5,20.0,17.0,23.1,29.0,37.0,204.6,235,87.06

In [165]:
# check the columns in the dataset
df.columns

Index(['Student Id', 'File #', 'Student Name', 'Computer Science', 'English',
       'Geography', 'History', 'Islamiyat - Ethics', 'Mathematics', 'Science',
       'Urdu', 'Obtained Marks', 'Max Marks', 'Percentage'],
      dtype='object')

In [166]:
# to check the numbers of rows and columns in dataframe
df.shape

(25, 14)

In [167]:
print(f'the number of rows are = {df.shape[0]}')
print(f'the number of columns are = {df.shape[1]}')

the number of rows are = 25
the number of columns are = 14

In [168]:
# to get the info of the dataframe over view 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Student Id          25 non-null     int64
 1   File #              25 non-null     int64
 2   Student Name        25 non-null     object
 3   Computer Science    25 non-null     float64
 4   English             25 non-null     float64
 5   Geography           25 non-null     float64
 6   History             25 non-null     float64
 7   Islamiyat - Ethics  25 non-null     float64
 8   Mathematics         25 non-null     float64
 9   Science             25 non-null     float64
 10  Urdu                25 non-null     float64
 11  Obtained Marks      25 non-null     float64
 12  Max Marks           25 non-null     int64
 13  Percentage          25 non-null     float64
dtypes: float64(10), int64(3), object(1)
memory usage: 2.9+ KB

In [169]:
# To check the numeric data values 
df.describe()

,Student Id,File #,Computer Science,English,Geography,History,Islamiyat - Ethics,Mathematics,Science,Urdu,Obtained Marks,Max Marks,Percentage
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.0,25.000000
mean,508786.320000,918979.440000,20.660000,29.540000,15.140000,16.720000,13.160000,19.696000,23.420000,35.200000,173.536000,235.0,73.844800
std,262566.780883,8541.643426,2.964091,7.404841,3.869001,3.379102,5.554128,5.985293,6.114668,3.520772,32.864493,0.0,13.985363
min,127863.000000,906025.000000,9.000000,8.500000,3.500000,5.500000,2.500000,0.000000,8.000000,20.000000,58.000000,235.0,24.680000
25%,276582.000000,911493.000000,19.500000,27.000000,13.500000,15.500000,9.000000,17.800000,20.500000,35.000000,158.800000,235.0,67.570000
50%,620098.000000,920290.000000,21.000000,32.000000,16.500000,17.500000,14.000000,20.600000,24.000000,36.500000,176.000000,235.0,74.890000
75%,767606.000000,928284.000000,22.500000,34.500000,18.000000,19.000000,17.000000,23.000000,28.000000,37.000000,197.300000,235.0,83.960000
max,842710.000000,928555.000000,24.500000,38.500000,20.000000,20.000000,22.000000,27.600000,33.500000,37.500000,221.100000,235.0,94.090000

In [170]:
# check the missing values
df.isnull().sum()

Student Id            0
File #                0
Student Name          0
Computer Science      0
English               0
Geography             0
History               0
Islamiyat - Ethics    0
Mathematics           0
Science               0
Urdu                  0
Obtained Marks        0
Max Marks             0
Percentage            0
dtype: int64

In [171]:
# the number of unique values in dataframe 
df.nunique()

Student Id            25
File #                25
Student Name          25
Computer Science      11
English               20
Geography             18
History               13
Islamiyat - Ethics    21
Mathematics           24
Science               21
Urdu                  11
Obtained Marks        25
Max Marks              1
Percentage            25
dtype: int64

In [172]:
# to determine the maximun marks in all subjects 
df[['Computer Science', 'English',
       'Geography', 'History', 'Islamiyat - Ethics', 'Mathematics', 'Science',
       'Urdu', 'Obtained Marks', 'Max Marks', 'Percentage']].max()

Computer Science       24.50
English                38.50
Geography              20.00
History                20.00
Islamiyat - Ethics     22.00
Mathematics            27.60
Science                33.50
Urdu                   37.50
Obtained Marks        221.10
Max Marks             235.00
Percentage             94.09
dtype: float64

In [173]:
# to determine the minimum marks in all subjects
df[['Computer Science', 'English',
       'Geography', 'History', 'Islamiyat - Ethics', 'Mathematics', 'Science',
       'Urdu', 'Obtained Marks', 'Max Marks', 'Percentage']].min()

Computer Science        9.00
English                 8.50
Geography               3.50
History                 5.50
Islamiyat - Ethics      2.50
Mathematics             0.00
Science                 8.00
Urdu                   20.00
Obtained Marks         58.00
Max Marks             235.00
Percentage             24.68
dtype: float64

In [174]:
# to determine the minimum marks in all subjects
df[['Computer Science', 'English',
       'Geography', 'History', 'Islamiyat - Ethics', 'Mathematics', 'Science',
       'Urdu', 'Obtained Marks', 'Max Marks', 'Percentage']].value_counts()

Computer Science  English  Geography  History  Islamiyat - Ethics  Mathematics  Science  Urdu  Obtained Marks  Max Marks  Percentage
9.0               8.5      3.5        5.5      3.5                 0.0          8.0      20.0  58.0            235        24.68         1
21.0              29.5     17.0       17.0     14.0                22.0         20.5     35.0  176.0           235        74.89         1
24.0              37.0     20.0       20.0     22.0                24.1         32.0     36.5  215.6           235        91.74         1
                  36.0     19.5       20.0     15.5                25.6         27.5     37.5  205.6           235        87.49         1
22.5              37.5     18.5       20.0     17.0                23.1         29.0     37.0  204.6           235        87.06         1
                  36.0     17.5       17.0     16.0                15.1         28.0     36.5  188.6           235        80.26         1
                  35.5     18.5       19.0     19.0                23.6         25.0     37.5  200.6           235        85.36         1
                  32.0     15.0       17.5     14.0                22.3         20.5     32.0  175.8           235        74.81         1
22.0              34.5     16.5       19.0     19.5                27.6         23.0     36.5  198.6           235        84.51         1
                  27.0     19.0       18.0     22.0                22.8         29.5     37.0  197.3           235        83.96         1
                  24.5     14.5       15.5     7.5                 17.8         22.0     35.0  158.8           235        67.57         1
21.0              32.0     16.5       16.5     9.5                 20.6         24.0     36.0  176.1           235        74.94         1
                  27.0     14.0       12.0     15.5                23.0         28.0     37.0  177.5           235        75.53         1
18.0              15.0     10.0       18.0     9.0                 7.5          13.0     36.5  127.0           235        54.04         1
20.5              33.5     18.0       18.5     16.0                18.1         25.5     37.0  187.1           235        79.62         1
                  32.5     13.5       15.5     13.5                21.5         17.5     34.0  168.5           235        71.70         1
                  27.0     14.0       18.0     8.5                 19.3         22.0     35.0  164.3           235        69.91         1
                  16.5     17.5       18.0     11.5                20.5         24.5     35.5  164.5           235        70.00         1
20.0              28.5     12.0       19.0     18.0                20.0         30.5     36.0  184.0           235        78.30         1
19.5              34.0     9.5        17.5     2.5                 17.5         16.5     33.0  150.0           235        63.83         1
                  33.5     12.5       17.0     6.0                 21.8         26.5     34.0  170.8           235        72.68         1
19.0              31.0     13.5       10.0     10.0                20.3         21.0     33.5  158.3           235        67.36         1
                  26.0     17.5       15.0     10.5                13.8         15.0     37.0  153.8           235        65.45         1
                  25.5     11.5       14.5     8.0                 16.9         23.0     37.5  155.9           235        66.34         1
24.5              38.5     19.0       20.0     20.5                27.6         33.5     37.5  221.1           235        94.09         1
Name: count, dtype: int64

In [175]:
# to rename the columns in the datsets
df.rename(columns={'Computer Science':'Computer_Science'}, inplace=True)

In [176]:
# to sort the data by the names
df.sort_values(by='Student Name')

,Student Id,File #,Student Name,Computer_Science,English,Geography,History,Islamiyat - Ethics,Mathematics,Science,Urdu,Obtained Marks,Max Marks,Percentage
0,127863,907656,Abeeha Fatima Amir,20.5,32.5,13.5,15.5,13.5,21.5,17.5,34.0,168.5,235,71.70
1,344027,917854,Abreer Ayesha,19.0,31.0,13.5,10.0,10.0,20.3,21.0,33.5,158.3,235,67.36
2,415787,918321,Aleesha Zia,22.5,37.5,18.5,20.0,17.0,23.1,29.0,37.0,204.6,235,87.06
3,620098,908397,Alleha Fatima,22.0,24.5,14.5,15.5,7.5,17.8,22.0,35.0,158.8,235,67.57
4,641021,928555,Aqsa Ilyas,22.0,27.0,19.0,18.0,22.0,22.8,29.5,37.0,197.3,235,83.96
5,657334,923617,Asawer Nayab,22.0,34.5,16.5,19.0,19.5,27.6,23.0,36.5,198.6,235,84.51
6,825932,928366,Asma Khalid,9.0,8.5,3.5,5.5,3.5,0.0,8.0,20.0,58.0,235,24.68
7,204766,906025,Aswa Irfan,21.0,32.0,16.5,16.5,9.5,20.6,24.0,36.0,176.1,235,74.94
8,756188,925541,Bushra Qadir,24.0,37.0,20.0,20.0,22.0,24.1,32.0,36.5,215.6,235,91.74
9,204935,911802,Dua Nouman Majeed,24.5,38.5,19.0,20.0,20.5,27.6,33.5,37.5,221.1,235,94.09
10,819011,928363,Inaya Khan,19.5,33.5,12.5,17.0,6.0,21.8,26.5,34.0,170.8,235,72.68
11,628574,923473,Khushnood Binte Abbas,19.5,34.0,9.5,17.5,2.5,17.5,16.5,33.0,150.0,235,63.83
12,133961,906287,Laraib Zahid,21.0,27.0,14.0,12.0,15.5,23.0,28.0,37.0,177.5,235,75.53
13,344037,924004,Mahnoor Fatima,20.0,28.5,12.0,19.0,18.0,20.0,30.5,36.0,184.0,235,78.30
14,276582,913460,Mansha Batool,22.5,36.0,17.5,17.0,16.0,15.1,28.0,36.5,188.6,235,80.26
15,819005,928290,Muntaha Mehmood,20.5,33.5,18.0,18.5,16.0,18.1,25.5,37.0,187.1,235,79.62
16,767606,926077,Musfira Maskatiya,21.0,29.5,17.0,17.0,14.0,22.0,20.5,35.0,176.0,235,74.89
17,815481,928450,Noor Eman,19.0,26.0,17.5,15.0,10.5,13.8,15.0,37.0,153.8,235,65.45
18,346731,909921,S Ummul Baneen Raza Zaidi,22.5,32.0,15.0,17.5,14.0,22.3,20.5,32.0,175.8,235,74.81
19,842710,928483,SakinaNadeem,20.5,16.5,17.5,18.0,11.5,20.5,24.5,35.5,164.5,235,70.00
20,622856,920290,Sheza Shoaib,18.0,15.0,10.0,18.0,9.0,7.5,13.0,36.5,127.0,235,54.04
21,204767,906206,Syeda Sibter Zehra,20.5,27.0,14.0,18.0,8.5,19.3,22.0,35.0,164.3,235,69.91
22,819003,928284,Tooba Imran,19.0,25.5,11.5,14.5,8.0,16.9,23.0,37.5,155.9,235,66.34
23,276675,915271,Um E Farwa,24.0,36.0,19.5,20.0,15.5,25.6,27.5,37.5,205.6,235,87.49
24,204708,911493,Zinnia Khan,22.5,35.5,18.5,19.0,19.0,23.6,25.0,37.5,200.6,235,85.36

In [177]:
#to make HTML files
profile = yd.ProfileReport(df)
profile.to_file(output_file="./ydata_df.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]